.App{
    min-height: 105vh;
  background-image: url("image.jpg");
  background-position: center;
  background-size: cover;

}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}